* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.App {
  background-color: #FE9C00;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  flex-shrink: 0;
}

.outerbox {
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  width: 20%;
  min-width: 10%;
  padding: 20px;
  flex-shrink: 0;
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
  flex-shrink: 0;
}

.calculation {
  min-width: 100%;
  background-color:#595959;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  height: 60px;
  font-size: 20px;
  flex-shrink: 0;
}

.operators {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #201d1d;
  flex-shrink: 0;
  font-weight: 700;
}

.operatorstyle1 {
  border: 1px solid #919191;
  border-radius: 50%;
  padding: 20px;
  width: 30px;
  height: 32px;
  font-size: 36px;
  font-stretch: ultra-expanded;
  background-color: #919191;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 10px;
  flex-shrink: 0;
}

.operatorstyle {
  border: 1px solid #d3cccc;
  border-radius: 50%;
  padding: 20px;
  width: 30px;
  height: 32px;
  font-size: 36px;
  background-color: #d3cccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 10px;
  flex-shrink: 0;

}
.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
}

.leftnum {
  width: 67%;
  padding: 20px;
  flex-shrink: 0;
}

.equals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  margin: 20px;
  background-color: #FF9C01;
  border: 1px solid #FF9C01;
  border-radius: 50px;
  flex-shrink: 0;
  cursor: pointer;

}
.equalstyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 30px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}

.numstyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 5%;
  padding: 10px;
  flex-shrink: 0;

}

.numstyle2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 5%;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 10px;
  padding-bottom: 20px;
  flex-shrink: 0;
}
